<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="LogRoot" value="C:\\Users\\Guozy\\source\\repos\\MApp\\HY_Console\\IO\\Log"/>
		<add key = "LogPath" value = "C:\\Users\\Guozy\\source\\repos\\MApp\\HY_Console\\IO\\Log\\Log.txt"/>
		<add key = "LogMovePath" value ="C:\\Users\\Guozy\\source\\repos\\MApp\\HY_Console\\IO\\LogMove"/>
		<add key ="DailyPath" value ="C:\\Users\\Guozy\\source\\repos\\MApp\\HY_Console\\IO\\Log\\Daily.txt"/>
		<add key ="SerializationPath" value="C:\\Users\\Guozy\\source\\repos\\MApp\\HY_Console\\IO\\Log\\Serialization.log"/>
	</appSettings>
</configuration>